@model TestApplication.Models.FinancialTransactionViewModel
@{
	ViewBag.Title = "Home Page";
}
<style>
	.validation-summary-valid.alert.alert-danger {
		display: none;
	}
</style>

<h2>Please Upload Transaction File</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

	<div class="row">
		<div class="col-md-12">
			@Html.LabelFor(model => model.File)
			@Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control", accept = ".csv,.xml" })
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@Html.LabelFor(model => model.FileFormats)
			@foreach (var value in Enum.GetValues(typeof(Domain.Enums.FileFormatEnum)))
				{
				@Html.RadioButtonFor(model => model.FileFormats, value)
				@Html.Label(value.ToString())<text>&nbsp;</text>
				}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="submit" value="Result" class="btn btn-success" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>
						Id
					</th>
					<th>
						Name
					</th>
					<th>
						Type
					</th>
					<th>
						Style
					</th>
					<th>
						CallPutFlag
					</th>
					<th>
						ExpiryDate
					</th>
					<th>
						StrikePrice
					</th>
					<th>
						CCY
					</th>
					<th>
						Price
					</th>
					<th>
						Result
					</th>
				</tr>
				@if (Model.FinancialTransactions.Count > 0)
				{
					foreach (var item in Model.FinancialTransactions)
					{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Type)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Style)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CallPutFlag)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ExpiryDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.StrikePrice)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CCY)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Result)
						</td>
					</tr>
					}
				}
				else
				{
				<tr>
					<td colspan="10">No Data To Show!</td>
				</tr>
				}
				<tr>
					<td colspan="10">Sum:@Model.FinancialTransactions.Sum(t => t.Price)</td>
				</tr>
			</table>
		</div>
	</div>

}

