@model TestApplication.Models.FinancialTransactionViewModel
@{
	ViewBag.Title = "Home Page";
}

<h2>Please Upload Transaction File</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

	<div class="row">
		<div class="col-md-12">
			@Html.LabelFor(model => model.File)
			@Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control", accept = ".csv,.xml" })
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@Html.LabelFor(model => model.FileFormats)
			@foreach (var value in Enum.GetValues(typeof(Domain.Enums.FileFormatEnum)))
				{
				@Html.RadioButtonFor(model => model.FileFormats, value)
				@Html.Label(value.ToString())<text>&nbsp;</text>
				}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="submit" value="Result" class="btn btn-success" />
		</div>
	</div>




}  